@media screen and (max-width:768px) {
    .lista-menu {
        font-size: 16px;
    }

    .texto {
        font-size: 12px;
    }

    .titulo {
        font-size: 22px;
    }

    .disclaimer {
        display: none;
    }
}

@media screen and (max-width:451px) {
    .lista-menu {
        font-size: 14px;
    }

    .texto {
        font-size: 10px;
    }

    .titulo {
        font-size: 20px;
    }

    .lista-pie ul a img {
        margin: 10px;
        width: 35spx;
        height: 35px;
    }

    .disclaimer {
        display: none;
    }
}